.login-page, .register-page {
    background-image: url(../img/login-background.jpg);
    background-size: cover;
}
.login-logo a, .register-logo a {
    color: #fff;
}
/*Time Picker margin fix*/
.bootstrap-timepicker > div.bootstrap-timepicker-widget {
    margin: 40px 0 0 !important;
}

.regular-actions a {
    margin-right: 5px;
}

.regular-actions a:last-child {
    margin-right: 0px !important;
}

form label.required:after {
    content: '*';
    color: red;
    padding-left: 5px;
}